<a href="https://colab.research.google.com/github/Wachiyem/CIT2228_Computer_Programming_II/blob/main/CIT_2118_ProgrammingFundamentals_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1: Finding the maximum of two numbers.
1. Read two numbers, a and b.
2. If a >b, output a.
3. Else, output b.

In [ ]:
a = 5
b = 17
if a > b:
    print(a)
else:
    print(b)

17

Example 2: Computing factorial of n.
1. Start with result= 1.
2. Multiply result by each number from 1 to n.
3. Output result

In [ ]:
n = 5
result = 1
for i in range(1, n + 1):
    result *= i
print(f"The factorial of {n} is: {result}")

The factorial of 60 is: 8320987112741390144276341183223364380754172606361245952449277696409600000000000000

## Python Code Example: Maximum of Two Numbers

using the function `input`

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if a > b:
    print("The maximum number is:", a)
else:
    print('The Maximum number is:', b)

Enter the first number: 78
Enter the second number: 83
The Maximum number is: 83

## Python: Add two numbers
1. Read the two numbers a and b
2. Add a, b

In [ ]:
a = float(input('Enter the first number: '))

b = float(input("Enter the second number: "))

sum = a + b

print(f"The sum of {a} and {b} is: ", sum)

Enter the first number: 50
Enter the second number: 63.7
The sum of 50.0 and 63.7 is:  113.7

## Python Code: Average Height
1. Input the heights
2. average = sum of heights divide total number

In [ ]:
ariel = 148
gitau = 175
mercy = 163

sum_height = ariel + gitau + mercy

average = sum_height/ 3

print(f"Average height of {ariel}, {gitau}, and {mercy} is: ", average)

Average height of 148, 175, and 163 is:  162.0

In [ ]:
import statistics

heights = [148, 175, 163]

average_height = statistics.mean(heights)

print(average_height)

162

## Emmanuel's question: How to work with strings

In [ ]:
first_name = 'Ariel'
second_name = 'Bosire'
full_name = first_name +' '+ second_name
print(full_name)

Ariel Bosire

In [ ]:
fruits = ['Banana', 'Guava', 'Pears', 'Avocado']

matunda = ['machungwa', 'maembe']

all_fruits = fruits + matunda
print(all_fruits)

['Banana', 'Guava', 'Pears', 'Avocado', 'machungwa', 'maembe']

## Sequential flow example: Ohm's Law

$V = IR$

$V$ = voltage,
$I$ = current,
$R$ = resistance

In [ ]:
I = 10 # current
R = 200 # resistance
V = I * R # Voltage

print("Voltage = ", V,'ohms')

Voltage =  2000 ohms

## Selection Example(`if-else`)

In [ ]:
body_temp = float(input('Enter body temp in celcius: '))

if body_temp > 37:
  print('fever detected')
elif body_temp < 0:
  print('frozen body')
else:
  print('normal body temp')

Enter body temp in celcius: -23.1
frozen body

## Iteration example ('for' loop)

In [ ]:
# Code to find the square of numbers from 1 to 10
for i in range(1, 11):
  print(f'Square of {i} is:', i**2)

Square of 1 is: 1
Square of 2 is: 4
Square of 3 is: 9
Square of 4 is: 16
Square of 5 is: 25
Square of 6 is: 36
Square of 7 is: 49
Square of 8 is: 64
Square of 9 is: 81
Square of 10 is: 100